@media (max-width: 980px) {
  .header-main {
    display: none;
  }
  .header-cart {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .dive {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .dive-content {
    align-items: center;
  }
  .dive-icon button {
    max-width: 300px;
    padding: 18px;
  }
  .dive-icon ion-icon {
    display: none;
  }
  .dive-content p {
    display: none;
  }
  .nav {
    justify-content: center;
  }
  .nav-content:nth-child(2) {
    display: none;
  }
  .nav-content:nth-child(3) {
    display: none;
  }
  .nav-content h2 {
    display: none;
  }
  .nav-icon {
    display: flex;
  }
  .nav-icon ion-icon:nth-child(1) {
    position: absolute;
    top: -70px;
    left: 5px;
  }
  .nav-icon ion-icon:nth-child(2) {
    position: absolute;
    bottom: 42px;
    left: 305px;
  }
  .main {
    flex-direction: column;
  }
  .main-content {
    flex-direction: column;
    align-items: center;
  }
  .main-content h2 {
    display: flex;
  }
  .main-content p {
    display: none;
  }
  .main-content img {
    display: none;
  }
  .main-cart {
    flex-direction: column;
    align-items: center;
  }
  .main-about h1,
  h2 {
    display: none;
  }
  .cart-cart {
    flex-direction: column;
  }
  .main-about {
    align-items: center;
  }
  .main-about button {
    padding: 18px;
    max-width: 300px;
  }
  .cart-cart .cart-content:nth-child(2) {
    display: none;
  }
  .cart-cart .cart-content:nth-child(3) {
    display: none;
  }
  .cart-cart .cart-content:nth-child(4) {
    display: none;
  }
  .cart-cart .cart-content {
    gap: 30px;
    height: 500px;
  }
  .cart-cart .cart-content img {
    max-width: 200px;
  }
  .cart-cart .cart-content button {
    padding: 18px;
    max-width: 250px;
  }
  .cart-icon {
    display: flex;
  }
  .cart-icon ion-icon:nth-child(1) {
    position: absolute;
    bottom: 240px;
    left: -20px;
  }
  .cart-icon ion-icon:nth-child(2) {
    position: absolute;
    bottom: 240px;
    left: 308px;
  }
  .used .used-content {
    justify-content: center;
  }
  .used img {
    width: 100%;
  }
  .used-cart h1 {
    position: absolute;
    bottom: 360px;
    left: 30px;
  }
  .used-cart h1 span {
    position: absolute;
    bottom: 0px;
    left: 155px;
  }
  .used-cart h1 span:nth-child(2) {
    position: absolute;
    bottom: 0px;
    left: 175px;
  }
  .used-main {
    display: flex;
  }
  .used-content img {
    max-width: 260px;
  }
  .used-content img:nth-child(1) {
    display: none;
  }
  .used-content img:nth-child(2) {
    display: none;
  }
  .used-content img:nth-child(3) {
    display: none;
  }
  .used-icon {
    display: none;
  }
  .used-ion {
    display: flex;
  }

  .used-ion ion-icon {
    position: absolute;
    bottom: 125px;
    left: -5px;
  }
  .used-ion ion-icon:nth-child(2) {
    position: absolute;
    bottom: 125px;
    left: 300px;
  }
  .how {
    flex-direction: column;
  }
  .how-cart img {
    display: none;
  }
  .how-year p {
    display: none;
  }
  .how-1:nth-child(2) {
    display: none;
  }
  .how-1:nth-child(3) {
    display: none;
  }
  .how-1:nth-child(4) {
    display: none;
  }
  nav {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .how-cart h2 {
    display: flex;
  }
  .how-icon ion-icon {
    display: none;
  }
  .how-icon h4 {
    font-size: 24px;
  }
  .how-how {
    display: flex;
    position: absolute;
  }
  .how-how ion-icon {
    position: absolute;
    bottom: 20px;
    left: -5px;
  }
  .how-how ion-icon:nth-child(2) {
    position: absolute;
    bottom: 20px;
    left: 290px;
  }
  .join {
    flex-direction: column;
  }
  .join-content h2 {
    display: flex;
  }
  .join-main {
    flex-direction: column;
  }
  .join-cart {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }
  .footer-background {
    display: none;
  }
  .footer-main {
    display: none;
  }
  .footer-cart {
    display: none;
  }
  .footer-year {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-button button {
  }
}
