* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 550px) {
    padding-inline: 20px;
  }
}
body {
  background: #302c42;
}
#header {
  padding-block: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-content img {
  width: 100%;
  max-width: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
}
.header-content h1 {
  width: 100%;
  font-size: clamp(2.188rem, 1.733rem + 2.27vw, 3.438rem);
  font-weight: 300;
  color: #c0b7e8;
}
.header-main {
  width: 100%;
  max-width: 370px;
  display: flex;
  align-items: center;
  gap: 35px;
}
.header-main a {
  max-width: 700px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
.header-cart {
  width: 100%;
  max-width: 300px;
  display: flex;
  gap: 22px;
}

.header-cart button:nth-child(1) {
  width: 100%;
  max-width: 150px;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: none;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
.header-cart button:nth-child(2) {
  width: 100%;
  max-width: 150px;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: #c0b7e8;
  font-size: 12px;
  font-weight: 700;
  color: #343045;
}
.burger-menu {
  display: none;
  font-size: 40px;
  color: #c0b7e8;
}
#dive {
  padding-block: 50px;
}
.dive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.dive-content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.dive-content h1 {
  width: 100%;
  max-width: clamp(18.75rem, 15.114rem + 18.18vw, 28.75rem);
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  font-weight: 700;
  color: #ffffff;
}
.dive-content h1 span {
  width: 100%;
  max-width: 450px;
  font-size: clamp(2rem, 1.705rem + 1.48vw, 2.813rem);
  font-weight: 700;
  color: #c0b7e8;
}
.dive-content p {
  width: 100%;
  max-width: 460px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
.dive-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dive-icon button {
  width: 100%;
  max-width: 210px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: #c0b7e8;
  color: #343045;
  font-size: 12px;
  font-weight: 600;
}
.dive-icon ion-icon {
  font-size: 65px;
  color: #c0b7e8;
}
.dive-img img {
  width: 100%;
  max-width: clamp(21.875rem, 19.792rem + 10.42vw, 28.125rem);
}
#nav {
  padding-block: 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #211e2e;
  padding: clamp(1.25rem, 0.833rem + 2.08vw, 2.5rem);
  border-radius: 100px;
}
.nav-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-cart h2 {
  width: 100%;
  max-width: 280px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.nav-cart p {
  width: 100%;
  max-width: clamp(12.5rem, 8.333rem + 20.83vw, 25rem);
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.nav-icon {
  display: none;
  position: absolute;
}
.nav-icon ion-icon {
  position: absolute;
  font-size: 30px;
  color: #ffffff;
}
#main {
  padding-block: 40px;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.main-content h1 {
  width: 100%;
  max-width: 200px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.main-h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-h2 h2 {
  width: 100%;
  max-width: 235px;
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
}
.main-h2 img {
  width: 100%;
  max-width: 180px;
}
.main-p {
  padding-bottom: 55px;
}
.main-p p {
  width: 100%;
  max-width: 570px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  padding-bottom: 30px;
}
.main-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main-img img {
  width: 100%;
  max-width: 470px;
}
.main-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-about h1 {
  width: 100%;
  max-width: 120px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.main-about h2 {
  width: 100%;
  max-width: 180px;
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 15px;
}
.main-about p {
  width: 100%;
  max-width: 550px;
  font-size: clamp(0.75rem, 0.708rem + 0.21vw, 0.875rem);
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  padding-bottom: 10px;
}
.main-about button {
  width: 100%;
  max-width: 180px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: #c0b7e8;
  font-size: 12px;
  font-weight: 700;
  color: #343045;
}
#cart {
  padding-block: 40px;
}
.cart-cart {
  display: flex;
  gap: 25px;
}
.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #211e2e;
  padding: 20px;
  border-radius: 25px;
  height: 400px;
}
.cart-content img {
  width: 100%;
  max-width: 150px;
  background: #0e0e0e52;
  border-radius: 100%;
  padding: 12px;
}
.cart-content h1 {
  width: 100%;
  max-width: 150px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.cart-content p {
  width: 100%;
  max-width: 260px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
}
.cart-content button {
  width: 100%;
  max-width: 120px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: #c0b7e854;
  font-size: 10px;
  font-weight: 700;
}
.cart-icon {
  display: none;
  position: absolute;
}
.cart-icon ion-icon {
  font-size: 55px;
  background: #211e2e6a;
  color: #c0b7e8;
  border-radius: 100%;
}
#used {
  padding-block: 40px;
}
.used img {
  width: 100%;
  max-width: 1200px;
  padding-bottom: clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
}
.used-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.used-content img {
  width: 100%;
  max-width: 200px;
}
.used-cart {
  position: absolute;
}
.used-cart h1 {
  width: 100%;
  font-size: clamp(0.2rem, 0.545rem + 2.27vw, 2.25rem);
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  bottom: 440px;
  left: 325px;
}
.used-cart h1 span {
  width: 100%;
  max-width: 340px;
  font-size: clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  right: -310px;
}
.used-cart h1 span:nth-child(2) {
  width: 100%;
  max-width: 340px;
  font-size: clamp(0.1rem, 0.545rem + 2.27vw, 2.25rem);
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  right: -345px;
}
.used-main {
  position: absolute;
}
.used-main h2 {
  width: 100%;
  max-width: 380px;
  font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  bottom: 390px;
  left: 445px;
}
.used-main h2 span {
  width: 100%;
  max-width: 380px;
  font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  left: 112px;
}
.used-main h2 span:nth-child(2) {
  width: 100%;
  max-width: 380px;
  font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 170px;
}
.used-main h2 span:nth-child(3) {
  width: 100%;
  max-width: 380px;
  font-size: clamp(1.625rem, 1.398rem + 1.14vw, 2.25rem);
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 305px;
}
.used-icon {
  position: absolute;
}
.used-icon ion-icon {
  font-size: 65px;
  background: #211e2e6e;
  padding: 5px;
  border-radius: 100%;
  color: #c0b7e8;
  position: absolute;
  bottom: 260px;
  left: 570px;
}
.used-ion {
  display: none;
  position: absolute;
}
.used-ion ion-icon {
  font-size: 50px;
  background: #211e2e6a;
  color: #c0b7e8;
  border-radius: 100%;
  padding: 2px;
}
#how {
  padding-block: clamp(0.313rem, -0.483rem + 3.98vw, 2.5rem);
}
.how {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.how-contr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.how-content h1 {
  width: 100%;
  max-width: 390px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.how-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}
.how-cart h2 {
  width: 100%;
  max-width: 350px;
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
}
.how-cart img {
  width: 100%;
  max-width: 150px;
}
.how-year p {
  width: 100%;
  max-width: 640px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}
nav {
  display: flex;
  justify-content: space-between;
}
.how-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0d0d52;
  max-width: 170px;
  height: 170px;
  border-radius: 100%;
}
.how-img {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #8176af;
  max-width: 130px;
  height: 130px;
  padding: 35px;
  border-radius: 100%;
}
.how-img h1 {
  width: 100%;
  font-size: 55px;
  color: #0d0d0dad;
}
.how-icon {
  display: flex;
  align-items: start;
  gap: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.how-icon ion-icon {
  font-size: 25px;
  color: #c0b7e8;
}
.how-icon h4 {
  width: 100%;
  max-width: 190px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #ffffff;
}
.how-how {
  position: absolute;
}
.how-how ion-icon {
  font-size: 55px;
  background: #0e0e0e52;
  color: #c0b7e8;
  border-radius: 100%;
  padding: 2px;
}
.how-how {
  display: none;
}
#join {
  padding-block: 40px;
}
.join {
  padding: 40px;
  background-color: #211e2e;
  border-radius: 25px;
}
.join-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}
.join-content h1 {
  width: 100%;
  max-width: 250px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.join-background {
  background: #ffffff;
  padding: 1px;
  width: 100%;
  max-width: 400px;
  border-radius: 100%;
}
.join-content h2 {
  width: 100%;
  max-width: 500px;
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
}
.join-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}
.join-main button {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-self: start;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
}
.join-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}
.join-cart button {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-self: start;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
}
.join-year {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 30px;
}
.join-year button {
  width: 100%;
  max-width: 1020px;
  display: flex;
  align-self: start;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
}
.join-join {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.join-join p {
  width: 100%;
  max-width: 1020px;
  justify-content: center;
  background: #211e2e;
  height: 150px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 15px;
  color: #ffffff;
}
.join-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-button button {
  width: 100%;
  max-width: 200px;
  padding: 12px;
  border-radius: 25px;
  background-color: #8176af;
  font-size: 12px;
  font-weight: 700;
  color: #211e2e;
  border: none;
}
#footer {
  padding-block: 40px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  gap: 50px;
}
.footer-content {
  display: flex;
  gap: 60px;
}
.footer-content img {
  width: 100%;
  max-width: 200px;
}
.footer-background {
  background: #ffffff;
  padding: 2px;
  border-radius: 100%;
}
.footer-main {
  display: flex;
  gap: 60px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-background {
  background: #ffffff;
  padding: 2px;
  border-radius: 100%;
}
.footer-main a {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.footer-cart {
  display: flex;
  gap: 60px;
}
.footer-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.year-background {
  background: #ffffff;
  padding: 2px;
  border-radius: 100%;
}
.footer-cart p {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.footer-year {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-year h1 {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.footer-img {
  display: flex;
  gap: 15px;
}
.footer-img img {
  width: 100%;
  max-width: 60px;
}
.footer-button button {
  width: 100%;
  max-width: 190px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: #8176af;
}
.footer-back {
  background: #ffffff;
  padding: 2px;
  border-radius: 100%;
}
.footer-p {
  display: flex;
  justify-content: center;
}
.footer-p p {
  width: 100%;
  max-width: clamp(11.875rem, 3.011rem + 44.32vw, 36.25rem);
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
  padding-top: 30px;
}
